{
  "openapi": "3.1.0",
  "info": {
    "title": "VCode public and authenticated API",
    "version": "1.2.0",
    "description": "Health, moderated comments, minimal public analytics collection and authenticated portfolio metrics."
  },
  "servers": [
    {
      "url": "https://vcode.zeleznalady.cz"
    }
  ],
  "paths": {
    "/health/blog": {
      "get": {
        "operationId": "getBlogHealth",
        "responses": {
          "200": {
            "description": "Blog service and database are ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "Dependency is unavailable"
          }
        }
      }
    },
    "/api/blog/{slug}/comments": {
      "post": {
        "operationId": "submitBlogComment",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "body",
                  "lang"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 60
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 160
                  },
                  "body": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 2000
                  },
                  "lang": {
                    "type": "string",
                    "enum": [
                      "cs",
                      "en"
                    ]
                  },
                  "website": {
                    "type": "string",
                    "description": "Spam honeypot; normal clients leave it empty."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "303": {
            "description": "Comment accepted and redirected to the article"
          },
          "400": {
            "description": "Invalid comment"
          },
          "403": {
            "description": "Origin check failed"
          },
          "404": {
            "description": "Published article not found"
          },
          "413": {
            "description": "Request exceeds 16 KiB"
          },
          "429": {
            "description": "Per-origin rate limit reached",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/api/blog/telegram/webhook": {
      "post": {
        "operationId": "receiveTelegramEditorialUpdate",
        "description": "Private Telegram callback receiver. It is unavailable while editorial integration is disabled.",
        "parameters": [
          {
            "name": "X-Telegram-Bot-Api-Secret-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "update_id"
                ],
                "properties": {
                  "update_id": {
                    "type": "integer"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update accepted or already processed"
          },
          "403": {
            "description": "Webhook secret is invalid"
          },
          "404": {
            "description": "Integration is disabled"
          },
          "413": {
            "description": "Request exceeds 64 KiB"
          }
        }
      }
    },
    "/analytics/event": {
      "post": {
        "operationId": "collectPublicAnalytics",
        "responses": {
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Origin not allowed"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "502": {
            "description": "Analytics dependency unavailable"
          },
          "204": {
            "description": "Event accepted or collection disabled"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "website",
                  "name",
                  "url"
                ],
                "properties": {
                  "website": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string",
                    "enum": [
                      "pageview",
                      "app-store-click",
                      "contact-click"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "referrer": {
                    "type": "string",
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        }
      }
    },
    "/prehled/api/login": {
      "post": {
        "operationId": "loginMetrics",
        "responses": {
          "200": {
            "description": "Request completed"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Origin not allowed"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "502": {
            "description": "Analytics dependency unavailable"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "password": {
                    "type": "string",
                    "maxLength": 255,
                    "writeOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/prehled/api/logout": {
      "post": {
        "operationId": "logoutMetrics",
        "responses": {
          "200": {
            "description": "Request completed"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Origin not allowed"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "502": {
            "description": "Analytics dependency unavailable"
          }
        },
        "security": [
          {
            "metricsSession": []
          }
        ]
      }
    },
    "/prehled/api/summary": {
      "get": {
        "operationId": "getMetricsSummary",
        "responses": {
          "200": {
            "description": "Request completed"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Origin not allowed"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "502": {
            "description": "Analytics dependency unavailable"
          }
        },
        "security": [
          {
            "metricsSession": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                7,
                30,
                90
              ],
              "default": 7
            }
          }
        ]
      }
    },
    "/analytics/v1/tracker.js": {
      "servers": [
        {
          "url": "https://masaze.zeleznalady.cz"
        },
        {
          "url": "https://studio-balance.cz"
        },
        {
          "url": "https://cop.zeleznalady.cz"
        },
        {
          "url": "https://kaloricketabulky.zeleznalady.cz"
        },
        {
          "url": "https://mestemhrou.cz/mestem-hrou"
        }
      ],
      "get": {
        "operationId": "getPublicAnalyticsRuntimeV1",
        "description": "Versioned same-origin runtime for registered public applications; no automatic collection. VCode itself retains its legacy tracker route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Pinned vcode-public-v1 JavaScript",
            "content": {
              "text/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Unsupported method"
          }
        }
      }
    },
    "/analytics/v1/events": {
      "servers": [
        {
          "url": "https://masaze.zeleznalady.cz"
        },
        {
          "url": "https://studio-balance.cz"
        },
        {
          "url": "https://cop.zeleznalady.cz"
        },
        {
          "url": "https://kaloricketabulky.zeleznalady.cz"
        },
        {
          "url": "https://mestemhrou.cz/mestem-hrou"
        }
      ],
      "post": {
        "operationId": "sendPublicAnalyticsPageviewV1",
        "description": "Registered site/origin and exact path only; no optional properties. Trusted edge overrides client metadata and supplies internal authorization. DNT/GPC suppress storage. No cookies or public analytics/admin access.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicPageviewV1"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Accepted or suppressed by privacy preference"
          },
          "400": {
            "description": "Unapproved site, incorrect origin or payload"
          },
          "405": {
            "description": "Unsupported method"
          },
          "413": {
            "description": "Payload exceeds 2 KiB"
          },
          "415": {
            "description": "JSON content type required"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "502": {
            "description": "Analytics backend unavailable"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Health": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "generationEnabled"
        ],
        "properties": {
          "status": {
            "type": "string",
            "const": "ok"
          },
          "generationEnabled": {
            "type": "boolean"
          }
        }
      },
      "PublicPageviewV1": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "website",
          "name",
          "path"
        ],
        "properties": {
          "website": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "enum": [
              "pageview"
            ]
          },
          "path": {
            "type": "string",
            "pattern": "^/[a-zA-Z0-9_:/-]*$",
            "description": "Exact registered general public path, without identifiers, query or fragment."
          }
        }
      }
    },
    "securitySchemes": {
      "metricsSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-vcode-metrics"
      }
    }
  }
}
